<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <title>Location Finder</title>
</head>

<body id="bg">
    <div id="pagesBg">
        <h1>Must-Go Restaurant Finder</h1>
        <h3>Record</h3>
        <ul id="list">
            <li>Record your current Restaurant's Location: <a href="/record">Record</a></li>
        </ul>
        <hr>
        <h3>Review - Resaturant Name</h3>
        <ul id="list">
            <li>To find Restaurant by name: <a href="/review">Find Restaurant</a></li>
        </ul>
        <hr>
        <h3>Review - Rating</h3>
        <ul id="list">
            <li>To see locations by rating <a href="/hours">Find by ratings</a></li>
        </ul>
        <hr>
        <h3>Remove</h3>
        <ul id="list">
            <li>To remove all the Resaturant from the list <a href="/remove">Reset List</a></li>
        </ul>
        <hr>
    </div>
</body>

</html>
