<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <title>Restaurant Confirmation</title>
</head>

<body id="bg">
    <div id="pagesBg">
    <h1>Restaurant Confirmation Page</h1>
    <div id="listData">
        <strong>Resaturant Name: </strong><%- Building %><br>
        <strong>Rating: </strong> <%- Time %> stars<br>
        <strong>Latitude: </strong><%- Latitude %><br>
        <strong>Longitude: </strong><%- Longitude %><br>

        <hr>
        <a href="/">BACK TO HOME</a>
    </div>
        </div>
</body>

</html>
